body {
  display: flex;
  flex-direction:  column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.container .buttons {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}